.about {
    padding-top: 21px;
    padding-bottom: 69px;
    background: url("../assets/images/about-back-1.png") no-repeat;
    background-size: 100% 100%, cover;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 61px;
}

.about-desc-mob-2 {
    display: none;
}

.about-block {
    display: flex;
    gap: 49px;
    max-width: 1061px;
    align-items: center;
    width: 100%;
    margin-left: 11px;
}

.about-block:last-of-type {
    margin-left: 274px;
}

.about-content h3 {
    max-width: 605px;
    margin-top: 28px;
    font-weight: 700;
    font-size: 30px;
    color: #fffbfb;
}

.about-content p {
    max-width: 561px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 22px;
    color: #fffbfb;
}

.about-desc-mob {
    display: none;
}

.about-subtitle-mob {
    display: none;
}

.about-content h4 {
    max-width: 561px;
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    color: var(--light-yellow);
}

@media screen and (max-width: 2299px) {
    .about {
        background: url("../assets/images/about-back-2.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-block {
        margin-left: 79px;
    }

    .about-block:last-of-type {
        margin-left: 345px;
    }
}

@media screen and (max-width: 1919px) {
    .about {
        background: url("../assets/images/about-back-3.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-block {
        margin-left: 11px;
    }

    .about-block:last-of-type {
        margin-left: 274px;
    }

}

@media screen and (max-width: 1727px) {
    .about {
        background: url("../assets/images/about-back-4.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-block {
        margin-left: 2px;
    }

    .about-block:last-of-type {
        margin-left: 230px;
    }
}

@media screen and (max-width: 1514px) {
    .about {
        background: url("../assets/images/about-back-5.png") no-repeat;
        background-size: 100% 100%, cover;
        padding-bottom: 67px;
    }

    .about-block {
        margin-left: -6px;
    }

    .about-block:last-of-type {
        margin-left: 209px;
    }
}

@media screen and (max-width: 1439px) {
    .about {
        padding-bottom: 44px;
        background: url("../assets/images/about-back-6.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-list {
        gap: 51px;
        margin-top: 54px;
    }

    .about-block {
        display: block;
        padding-top: 293px;
        max-width: 614px;
        margin-left: 0;
        position: relative;
    }

    .about-block picture {
        position: absolute;
        left: 92px;
        top: 0;
    }

    .about-block:last-of-type {
        margin-left: 0;
    }

    .about-block:last-of-type picture {
        left: 137px;
    }

    .about-content h3 {
        margin-top: 12px;
        font-size: 26px;
        line-height: 120%;
    }

    .about-content p {
        max-width: 561px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 727px) {
    .about {
        padding-top: 34px;
        padding-bottom: 76px;
        background: url("../assets/images/about-back-7.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-list {
        gap: 65px;
        margin-top: 3px;
    }

    .about-block {
        display: block;
        padding-top: 283px;
        max-width: 445px;
        margin-left: 0;
        position: relative;
    }

    .about-block picture {
        position: absolute;
        left: 85px;
        top: 0;
    }

    .about-block:last-of-type {
        margin-left: 0;
    }

    .about-block:last-of-type picture {
        left: 98px;
    }

    .about-content h3 {
        margin-top: 14px;
        font-size: 22px;
        line-height: 120%;
    }

    .about-content p {
        max-width: 445px;
        margin-top: 28px;
        font-size: 18px;
    }

    .about-content h4 {
        max-width: 445px;
        font-size: 18px;
    }

    .about-content svg {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 487px) {
    .about {
        padding-top: 34px;
        padding-bottom: 80px;
        background: url("../assets/images/about-back-8.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-list {
        gap: 73px;
        margin-top: 53px;
    }

    .about-block {
        display: block;
        padding-top: 234px;
        max-width: 357px;
        margin-left: 0;
        position: relative;
    }

    .about-block picture {
        position: absolute;
        left: 59px;
        top: 0;
    }

    .about-block:last-of-type {
        margin-left: 0;
    }

    .about-block:last-of-type picture {
        left: 88px;
    }

    .about-content h3 {
        margin-top: 14px;
        font-size: 22px;
        line-height: 120%;
    }

    .about-content p {
        max-width: 357px;
        margin-top: 28px;
        font-size: 18px;
    }

    .about-desc-mob {
        display: block;
        max-width: 341px;
    }

    .about-desc {
        display: none;
    }

    .about-subtitle {
        display: none;
    }

    .about-subtitle-mob {
        display: block;
    }

    .about-content h4 {
        max-width: 357px;
        font-size: 18px;
    }

    .about-content svg {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 399px) {
    .about {
        padding-top: 34px;
        padding-bottom: 43px;
        background: url("../assets/images/about-back-9.png") no-repeat;
        background-size: 100% 100%, cover;
    }

    .about-list {
        gap: 30px;
        margin-top: 49px;
    }

    .about-block {
        display: block;
        padding-top: 227px;
        max-width: 313px;
        margin-left: 0;
        position: relative;
    }

    .about-block picture {
        position: absolute;
        left: 62px;
        top: 0;
    }

    .about-block:last-of-type {
        margin-left: 0;
    }

    .about-block:last-of-type picture {
        left: 73px;
    }

    .about-content h3 {
        margin-top: 34px;
        font-size: 22px;
        line-height: 120%;
    }

    .about-content p {
        max-width: 320px;
        margin-top: 28px;
        font-size: 18px;
    }

    .about-subtitle-mob {
        display: none;
    }

    .about-subtitle {
        display: block;
    }

    .about-desc {
        display: block;
    }

    .about-desc-mob {
        display: none;
    }

    .about-content h4 {
        max-width: 243px;
        font-size: 18px;
    }

    .about-content .last-desc {
        max-width: 320px;
    }

    .about-content svg {
        width: 64px;
        height: 64px;
    }

    .about-desc-mob-2 {
        display: block;
    }

    .first-about {
        display: none;
    }
}
