.footer {
    border-radius: 44px 44px 0 0;
    background: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2300px;
    padding: 61px 36px 74px 36px;
    margin: 0 auto;
}

.footer p {
    font-weight: 700;
    font-size: 22px;
    color: var(--medium-night);
}

.footer a:last-child {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
